*.pyc
/.idea/
/.php_cs.cache
/config/autoload/*.local.php
/config/autoload/local.php
/config/development.config.php
/data/!.gitignore
/data/!cache
/data/!cache/.gitkeep
/data/cache/
/data/tmp/
/library/searchengine/nova3/engines/jackett.json
/logs/
/node_modules/
/public/css/
/public/js/min/
/vendor/
