parameters:
    level: 0
    paths:
        - application/mQueue/
        - tests/
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '~Result of method Zend_View_Helper_HeadLink\:\:__call\(\) \(void\) is used\.~'
