parameters:
    level: 1
    paths:
        - application/mQueue/
        - tests/
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        - '~Result of method Zend_View_Helper_HeadLink\:\:__call\(\) \(void\) is used\.~'
        - '~^Access to an undefined property mQueue\\(Model|Form)\\.*~'
        - '~^Access to an undefined property mQueueTest\\.*~'
