parameters:
	ignoreErrors:
		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\Chronos'' and Cake\\Chronos\\Chronos will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 3
			path: tests/ApplicationTest/DBAL/Types/ChronosTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null and ''support null values'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/ApplicationTest/DBAL/Types/ChronosTypeTest.php

		-
			message: '#^Parameter \#1 \$column of method Application\\DBAL\\Types\\ChronosType\:\:getSQLDeclaration\(\) expects array\<string, mixed\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ApplicationTest/DBAL/Types/ChronosTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Cake\\\\Chronos\\\\ChronosDate'' and Cake\\Chronos\\ChronosDate will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/ApplicationTest/DBAL/Types/DateTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertNull\(\) with null and ''support null values'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: tests/ApplicationTest/DBAL/Types/DateTypeTest.php

		-
			message: '#^Parameter \#1 \$column of method Application\\DBAL\\Types\\DateType\:\:getSQLDeclaration\(\) expects array\<string, mixed\>, array\<int, string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/ApplicationTest/DBAL/Types/DateTypeTest.php

		-
			message: '#^Call to static method PHPUnit\\Framework\\Assert\:\:assertInstanceOf\(\) with ''Application\\\\Handler\\\\HomePageHandler'' and Application\\Handler\\HomePageHandler will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: tests/ApplicationTest/Handler/PageHandlerFactoryTest.php
