<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuite name="Test Suite">
        <directory>./tests/mQueueTest</directory>
    </testsuite>
    <!--    <testsuite name="Models Test Suite">
        <directory>./application/models</directory>
    </testsuite>
    <testsuite name="Library Test Suite">
        <directory>./library</directory>
    </testsuite>-->

    <filter>
        <whitelist>
            <directory suffix=".php">./application/</directory>
            <exclude>
                <directory suffix=".phtml">./application/</directory>
                <!--<file>./application/Bootstrap.php</file>-->
                <!--<file>./application/controllers/ErrorController.php</file>-->
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./tests/log/report"/>
    </logging>
</phpunit>
