.mqueue_status
{
	display: inline-block !important;
	clear: none !important;
	width: 16px !important;
	height: 16px !important;
	margin: 0px !important;
	padding: 0px !important;
	background-image: url("../images/status.png") !important;
	background-color: transparent !important;
}

.mqueue_status>span
{
	display: none !important;
}

.mqueue_status_links
{
	display: inline !important;
	white-space: nowrap;
}

.mqueue_status_links>.preloader
{
	background-image: url("../images/loading.gif") !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 80px !important;
	height: 16px !important;
	display: none;
}

.mqueue_status_links.loading>.preloader
{
	display: inline-block !important;
}

.mqueue_status_links.loading>.mqueue_status
{
	display: none !important;
}

.mqueue_status_1
{
	background-position: 0px 0px !important;
}

a.mqueue_status_1:hover
{
	background-position: -16px 0px !important;
}

.mqueue_status_1.current
{
	background-position: -16px 0px !important;
}

.mqueue_status_2
{
	background-position: 0px -16px !important;
}

a.mqueue_status_2:hover
{
	background-position: -16px -16px !important;
}

.mqueue_status_2.current
{
	background-position: -16px -16px !important;
}

.mqueue_status_3
{
	background-position: 0px -32px !important;
}

a.mqueue_status_3:hover
{
	background-position: -16px -32px !important;
}

.mqueue_status_3.current
{
	background-position: -16px -32px !important;
}

.mqueue_status_4
{
	background-position: 0px -48px !important;
}

a.mqueue_status_4:hover
{
	background-position: -16px -48px !important;
}

.mqueue_status_4.current
{
	background-position: -16px -48px !important;
}

.mqueue_status_5
{
	background-position: 0px -64px !important;
}

a.mqueue_status_5:hover
{
	background-position: -16px -64px !important;
}

.mqueue_status_5.current
{
	background-position: -16px -64px !important;
}
