iframe {
	padding: 0px;
	margin: 0px;
	width: 80px;
	height: 16px;
	border: none;
	overflow: hidden;
}

.iframe_body{
	margin: 0px;
	padding: 0px;
}

.status {
	display: inline-block;
	clear: none;
	width: 16px;
	height: 16px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/status.png);
}

.status>span
{
	display: none;
}

.status_links
{
	display: inline;
	
}

.status_1
{
	background-position: 0px -16px;
}

.status_1:hover
{
	background-position: 0px 0px;
}

.status_1.current
{
	background-position: 0px -0px;
}

.status_2
{
	background-position: -16px -16px;
}

.status_2:hover
{
	background-position: -16px 0px;
}

.status_2.current
{
	background-position: -16px 0px;
}

.status_3
{
	background-position: -32px -16px;
}

.status_3:hover
{
	background-position: -32px 0px;
}

.status_3.current
{
	background-position: -32px 0px;
}

.status_4
{
	background-position: -48px -16px;
}

.status_4:hover
{
	background-position: -48px 0px;
}

.status_4.current
{
	background-position: -48px 0px;
}

.status_5
{
	background-position: -64px -16px;
}

.status_5:hover
{
	background-position: -64px 0px;
}

.status_5.current
{
	background-position: -64px 0px;
}
