a
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

html
{
	color: grey;
	height: 101%;
	font-family:arial,sans-serif;
}

body
{
	background: url(../images/background.gif) fixed;
	padding-top: 10px;
	padding-bottom: 70px;
}

#container
{
	background: white;
	width: 900px;
	margin: 0 auto;
	border: 6px solid #0055FF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding-bottom: 2em;
}

#header 
{	
	background: url(../images/header.png);
}

#header h1
{
	margin: 0px;
}

#header h1 a
{
	background:url("../images/logo.png") no-repeat scroll 0 0;
	display:block;
	height:157px;
	left:-36px;
	position:relative;
	top:-10px;
	width:256px;
}

#header h1 a span
{
	display: none;
}

#header-logo
{
	height:135px;
	padding: 0px;	
}
	
#header-navigation
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
	color: white;
	background: black;
	/* for IE */
	//filter: alpha(opacity =   60);
	/* CSS3 standard */
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	/* Repeat the logo slightly over the links */
	background: black url("../images/logo.png") no-repeat scroll -36px -145px;
	
	/* fix for IE8 so the links are always clickable */
	position: relative;
	z-index: 1;
}

#header-navigation a
{
	padding:  5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#header-navigation a:hover
{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
color: black;
	background-color: white;
}

#content
{
	padding-left: 1em;
	padding-right: 2em;
}

.loginState
{
	float: right;
}

.paginationControl
{
	font-size: 0.8em;
	margin-top: 1em;
}

#fieldset-filter
{
	border: 1px solid #E4E4E4;
	font-size: 0.8em;
}

#filter-label,
#fieldset-filter #submit-label,
#fieldset-filter #clear-label
{
	display: none;
}

#filter-element
{
	margin: 0px;
}

#filter-element dd, 
#filter-element dt 
{
	display: inline;
	margin: 0px;
}

#filter-element dd
{
	margin-right: 4em;
}

#fieldset-filter #submit-element,
#fieldset-filter #clear-element
{
	float: right;
	margin-right: 2em;
}

ol ol
{
	list-style-type: lower-alpha;
}

.language_selector
{
	float:right;
	font-size:0.8em;
	font-weight:bold;
	margin-right:1em;
	margin-top:0.5em;
}

.language_selector a
{
	color: white;
	opacity: 0.8;
}

img.gravatar
{
	border: none;
}

img.gravatar.big
{
	float: right;
	margin-right: 2em;
}

.tips
{
	width: 80%;
	padding:1em;
	margin: 3em auto 0 auto;
	background: #FFFFCC;
	border:3px solid #FFCC33;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul.statusHelp
{
	margin: 0;
	list-style-type: none;
	padding-left: 1em;
}

input[type='text'],
input[type='password']
{
	width: 20em;
}

input[type='text'][id='id']
{
	width: 40em;
}

td
{
	padding-right: 0.5em;
}

td.dateUpdate,
td.user,
td.rating
{
	white-space: nowrap;
}

td.movie
{
	overflow: hidden;
}

td.number
{
	text-align: right;
}