RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# Cache control for 1 week
<IfModule mod_headers.c>
	<FilesMatch "\.(svg|jpe?g|png|gif|js|css)$">
		Header set Cache-Control "max-age=604800"
	</FilesMatch>
</IfModule>
