@CHARSET "UTF-8";

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: black;
}

#container {
    border: none;
    margin: 0 0 0 0;
    width: 100%;
}

#header-logo {
    display: none;
}

#header, #header-navigation {
    background-image: none;
}

#quickSearch, .language_selector, ul.navigation, .loginState {
    float: none;
}

#quickSearch, .language_selector {
    clear: none;
    display: inline;
}

td {
    white-space: nowrap;
}

table {
    background-color: white;
}

dl.filter dd.filterStatus {
    display: block;
}